<% if @foodtruck != nil %>
  <p>Bonjour <%= @foodtruck.name %> !</p>
<% else %>
  <p>Cher partenaire,</p>
<% end %>

</br>
<p>Nous vons confirmons que votre mot de passe a été changé avec succès.</p>
</br>
<p>À bientôt, l'équipe FeedTruck.</p>

