
<section class="hero is-halfheight">
    <div class="hero-body is-flex is-flex-direction-row is-justify-content-space-between">
        <div class="hero-content">
        <p class=" title is-size-3-mobile is-size-2-tablet is-size-1-desktop">
            Réveillez le gourmet qui sommeille en vous !
        </p>
        <p class="subtitle is-size-6-mobile is-size-5-tablet">
            Les meilleurs foodtrucks, tous les jours, en bas de chez vous.
        </p>
        <div class="index-button">
            <%= link_to "Trouver un Foodtruck", foodtrucks_path, class: "button is-rounded is-primary"%>
        </div>
        </div>
        <div class="hero-image is-hidden-touch is-hidden-tablet-only">
            <img src="https://images.unsplash.com/photo-1547592180-85f173990554?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="food image" class="width-image-jumbotron">
        </div>
    </div>
</section> 
