<div class="jumbotron bg-cover">
    <section class="hero is-halfheight is-flex column is-justify-content-space-around mx-4">
        <div class="column is-8">
            <p class="title is-text-warning is-size-3-mobile is-size-2-tablet is-size-1-desktop my-4">
                Réveillez le gourmet qui sommeille en vous !
            </p>
            <p class="subtitle is-size-6-mobile is-text-white is-size-5-tablet is-size-4-desktop my-4">
                Les meilleurs foodtrucks, tous les jours, en bas de chez vous.
            </p>
            <div class="index-button my-5">
                <%= link_to "TROUVER UN FOODTRUCK", foodtrucks_path, class: "button is-rounded is-homepage-cta-btn is-primary"%>
            </div>
        </div>
    </section> 
</div>





