<section class="margin-top-section-mobile">
  <div class="is-bg-white">
    <div class="is-flex home-wrap">
      <div class="col-sizing-home px-3 py-3 is-flex is-flex-direction-column is-justify-content-space-around">
        <p class="title is-text-primary is-size-2-mobile is-size-2 my-5 mx-5">Des foodtrucks aux bons petits plats, sains et engagés</p>
        <p class="subtitle is-4 my-5 mx-5">Nos sélectionnons les meilleurs foodtrucks de la capitale, en fonction de la qualité de leur cuisine, mais aussi de la provenance de leurs produits</p>
        <div class="is-6 my-1 mx-5">
          <%= link_to new_customer_registration_path, class:"button is-rounded is-secondary" do %>
            Je m'inscris comme gourmet
          <% end %>
        </div>
      </div>
      <div class="col-sizing-home">
        <img class="image-fit image-container-fit", style="height: 100%;" src="https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="image">
      </div>
    </div>
  </div>
</section>

<section class="margin-top-section-mobile">
  <div class="is-bg-white">
    <div class="is-flex home-wrap-reverse">
      <div class="col-sizing-home">
        <img class="image-fit image-container-fit" src="https://images.pexels.com/photos/5920755/pexels-photo-5920755.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="image">
      </div>
      <div class="col-sizing-home px-3 py-3 is-flex is-flex-direction-column is-justify-content-space-around">
        <p class="title is-text-primary is-size-2-mobile is-size-2 my-5 mx-5">Une cuisine gourmande et variée</p>
        <p class="subtitle is-4 my-5 mx-5">Plutôt sushi ou hamburger frites ? Choisissez parmi de nombreux foodtrucks, dans votre arrondissement et ailleurs dans Paris               </p>
        <div class="is-6 my-1 mx-5">
          <%= link_to foodtrucks_path, class:"button is-rounded is-primary" do %>
            Voir tous les foodtrucks
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="margin-top-section-mobile">
  <div class="is-bg-white">
    <div class="is-flex home-wrap">
      <div class="col-sizing-home px-3 py-3 is-flex is-flex-direction-column is-justify-content-space-around">
        <p class="title is-text-primary is-size-2-mobile is-size-2 my-5 mx-5">Un système de vote astucieux pour votre plus grand plaisir</p>
        <p class="subtitle is-4 my-5 mx-5">Depuis votre espace personnel, vous avez la possibilité chaque jour, de voter pour votre foodtruck favori, celui qui se déplacera le lendemain près de chez vous</p>
      </div>
      <div class="col-sizing-home">
        <img class="image-fit image-container-fit", style="height: 100%;" src="https://images.pexels.com/photos/3824771/pexels-photo-3824771.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="image">
      </div>
    </div>
  </div>
</section>