<div class="is-bg-pastel">
    <div class="has-text-centered is-centered py-5">
        <div class="is-flex is-flex-direction-row is-justify-content-space-around static-pages-subscription-wrap">
            <div class="foodtruck-link column is-4 is-12-mobile">
                <div class="box-header">
                    <%= image_tag("foodtruck_illustration.png", alt:"image", class:"style-subscription-image")%>
                </div>
                <div class="box-body is-flex is-flex-direction-column my-3">
                    <p class="title is-size-4">
                        Je suis un chef 
                    </p>
                    <p class="subtitle px-5 my-3 is-size-6 text-center-reducted">
                        Inscrivez-vous sur notre site, référencez votre foodtruck et commencez à
                        gagner de l'argent
                    </p>
                </div>
                <%=link_to new_myfoodtruck_foodtruck_registration_path, class:"button is-info is-rounded is-largest-btn" do %>
                    Je m'inscris
                <%end%>
            </div>
            <div class="customer-link column is-4 is-12-mobile">
                <div class="box-header">
                    <%= image_tag("gourmet_illustration.png", alt:"image", class:"style-subscription-image")%>
                </div>
                <div class="box-body is-flex is-flex-direction-column my-3">
                    <p class="title is-size-4">
                        Je suis un gourmet
                    </p>
                    <p class="subtitle px-5 my-3 is-size-6 text-center-reducted">
                        Nos chefs en foodtruck vous régalent
                            de délicieux plats chaque jour, juste en bas de chez vous
                    </p>
                </div>
                <%=link_to new_customer_registration_path, class:"button is-info is-rounded is-largest-btn" do %>
                    Je me fais plaisir
                <%end%>
            </div>
        </div>
    </div>
</div>