<div class="section columns justify-content-center">
  <div class="container column is-6 ">
      <h2 class="title is-2 is-capitalized has-text-centered mb-6">Nous contacter</h2>
      <h3 class="subtitle is-5 has-text-justified my-6">Pour toutes demandes, toutes réclamations ou toutes idées d'améliorations, veuillez nous contactez à l'adresse mail suivante :</h3>
      <h4 class="subtitle is-5 has-text-weight-medium has-text-centered my-6">bonjour.feedtruck@yopmail.com</h3>
  </div>
</div>