<section class="section">
  <div class="container">
    <div class="columns is-variable">
      <div class="column is-half is-offset-one-quarter is-8-tablet is-offset-2-tablet">
        <h2 class="title is-2 has-text-centered mb-6 tenor">Foire Aux Questions </h2>
        <div class="card is-horizontal columns team-list mb-6">
          <div class="card-content column is-flex is-flex-direction-column team-column">
            <p class="title is-5 mb-2 web-color tenor">
              J'ai reçu la mauvaise commande
            </p>
            <p class="description mb-5 manrope">
              Si vous avez reçu la commande de quelqu'un d'autre, veuillez nous en informer ci-dessous. Nous analyserons la situation et procéderons aux ajustements nécessaires.
            </p>
            <p class="description mb-5 manrope">
              Pour toute demande de ce type, nous avons impérativement besoin d'une photo claire de votre commande.
            </p>
          </div>
        </div>

        <div class="card is-horizontal columns team-list mb-6">
          <div class="card-content column is-flex is-flex-direction-column team-column">
            <p class="title is-5 mb-2 web-color tenor">
              Ma commande prend plus de temps que prévu
            </p>
            <p class="description mb-5 manrope">
              Les foodtrucks font de leur mieux pour préparer leurs commandes dans le délai de préparation estimé, mais des facteurs externes peuvent entraîner des retards. Par exemple, si le foodtruck est plus fréquenté que la normale, vous avez passé une grosse commande.
            </p>
          </div>
        </div>

        <div class="card is-horizontal columns team-list mb-6">
          <div class="card-content column is-flex is-flex-direction-column team-column">
            <p class="title is-5 mb-2 web-color tenor">
              Changer des articles dans ma commande
            </p>
            <p class="description mb-5 manrope">
              Si vous souhaitez modifier votre commande avant qu’elle ne soit prête à être récupérée, nous vous conseillons de contacter directement le foodtruck partenaire en communiquant votre nom et le numéro de votre commande.
            </p>
            <p class="description mb-5 manrope">
              Le foodtruck partenaire fera son maximum pour répondre à votre demande.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>