<section class="section">
  <div class="container">
    <div class="columns is-variable">
      <div class="column is-half is-offset-one-quarter is-8-tablet is-offset-2-tablet">
        <h2 class="title is-2 has-text-centered is-text-primary mb-6">Jobs</h2>
        <div class="card is-horizontal columns team-list mb-6">
          <div class="card-content column is-flex is-flex-direction-column team-column">
            <p class="description mb-5">FeedTruck est une plateforme mettant en relation les consommateurs et les restaurateurs, leader sur le marché des foodtrucks. Basée à Paris, la société a été créée en Juin 2021, et ne cesse de s'agrandir.</p>
            <p class="description mb-5">Vous souhaitez rejoindre notre aventure ? Contactez notre équipe à l'adresse suivante <span class="has-text-weight-bold"><a class="is-text-dark" href="mailto:recrutement@feedtruck.com">recrutement@feedtruck.com</a></span>. Nous vous recontacterons dans les plus brefs délais ​pour voir si un poste vous convient.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>