<section class="hero is-medium">
  <div class="dashboard-header has-text-centered">
    <p class="title is-size-4-mobile px-3 dashboard-header-text" >Bienvenue sur votre dashboard <%= current_myfoodtruck_foodtruck.name %></p>
  </div>
</section>