
<div class="section">
    <div class="show-foodtruck container">
        <div class="banner" style="height: 300px;">
        </div>
        <div class="foodtruck-infos box is-flex is-justify-content-space-between is-align-items-center is-flex-wrap-wrap pt-5">
            <div class="header">
                <p class="foodtruck-name is-size-3-mobile is-size-2">
                    <%= foodtruck.name %>
                </p>
                <p class="speciality is-size-6-mobile is-size-5">
                    Spécialités italiennes - Pizzas & Tiramisu - €€ 
                </p>

            </div>
            <div class="like-section">
                <div class="box mt-5 has-text-centered">
                    <div class="price">
                        <p class="title is-size-5">
                            15€/personne
                        </p>
                    </div>
                    <div class="date">
                        <p class="subtile py-5 is-size-6">
                            Demain le 23/04/2021
                        </p>
                    </div>
                    <button class="button like-button">
                        <span class="icon is-small">
                        <img src="icons/like.png" alt="">
                        </span>
                        <span>Viens chez moi</span>
                    </button>


        
                </div>
            </div>
        </div>
        
    </div>
</div>
