<%= form_with(model: foodtruck, local: true) do |form| %>
  <% if foodtruck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(foodtruck.errors.count, "error") %> prohibited this foodtruck from being saved:</h2>

      <ul>
      <% foodtruck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
