<section class="foodtruck-index-header">
    <div class="jumbotron-body  px-4 is-flex is-flex-direction-column is-align-items-center">
        <div class="has-text-centered">
            <p class="title is-size-4-mobile is-size-2 is-text-white mt-5" >
            Les foodtrucks disponibles en ce moment à Paris
            </p>
        </div>

        <!-- <div class="field has-text-centered is-grouped mt-4">
            <p class="control">
              <input class="input foodtruck-search-bar" type="text" placeholder="Rechercher par nom">
            </p>
            <p class="control">
              <a class="button is-primary">
                <span> 
                    <i class="fas fa-search"></i>
                    Rechercher 
                </span>    
                               
              </a>
            </p>
        </div> -->
    </div>
</section>