<section class="foodtruck-index-header">
  <div class="jumbotron-body  px-4 is-flex is-flex-direction-column is-align-items-center">
    <div class="has-text-centered">
      <p class="title is-size-4-mobile is-size-2 is-text-white mt-5" >Les foodtrucks disponibles en ce moment à Paris</p>
    </div>
  </div>
</section>