<p>Bonjour,</p>
</br>
<p>Ceci est un email pour vous confirmer votre inscription à l’application FeedTruck.</p>
<p>Nous sommes heureux de vous compter parmi nos foodtrucks partenaires et nous espérons que cela marque le début d'une longue belle collaboration entre nous.</p>
</br>
<p>Connectez-vous dès maintenant à votre espace foodtruck, via le lien suivant : <a href="<%= @url %>">Login</a>.</p>
</br>
<p>À très bientôt, l'équipe FeedTruck !</p>
