<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Salut !</h1>
		<p> Nous avons bien recu ta commande</p>
		<p> À bientot !</p>

	</body>
</html>