<p>Bonjour,</p>
</br>
<p>Ceci est un email pour vous dire que vous vous êtes inscrit avec succès à l’application FeedTruck.</p>
<p>Nous sommes heureux de vous compter parmi nos utilisateurs et espérons que vous trouverez votre bonheur parmi les recettes proposées par nos chefs.</p>
</br>
<p>Commandez dès maintenant en vous connectant à votre espace client, via le lien suivant : <a href="<%= @url %>">Login</a>.</p>
</br>
<p>À très bientôt, l'équipe FeedTruck !</p>
