@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


/* $$$$$$$$$$$$$$$$$$$$ Content BELOW is general styling $$$$$$$$$$$$$$$$$$$$ */

html,
body {
    font-family: 'Manrope', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'K2D', sans-serif !important;
}

.is-bg-pastel{
    background-color: #ffe0e7;
}

.is-bg-white{
    background-color: #ffffff;
}

.col-sizing-home {
    max-height: 30rem;
    width: 50%;
}


/* $$$$$$$$$$$$$$$$$$$$ Content ABOVE is general styling $$$$$$$$$$$$$$$$$$$$ */





/* $$$$$$$$$$$$$$$$$$$$ Content BELOW is for navbar styling $$$$$$$$$$$$$$$$$$$$ */

.nav-cart-button {
    background-color: black;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

/* $$$$$$$$$$$$$$$$$$$$ Content ABOVE is for navbar styling $$$$$$$$$$$$$$$$$$$$ */





/* $$$$$$$$$$$$$$$$$$$$ Content BELOW is for homepage jumbotron hero $$$$$$$$$$$$$$$$$$$$ */

.jumbotron {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url(https://images.unsplash.com/photo-1547592180-85f173990554?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
  }

/* $$$$$$$$$$$$$$$$$$$$ Content ABOVE is for homepage jumbotron hero $$$$$$$$$$$$$$$$$$$$ */





/* $$$$$$$$$$$$$$$$$$$$ Content BELOW is buttons $$$$$$$$$$$$$$$$$$$$ */

.is-primary {
    color : #ffffff !important;
    background-color: #ff3068 !important;
    border: transparent !important;
}

.is-secondary {
    color : #033F63 !important;
    background-color: #D1BCE3 !important;
    border: transparent !important;
}

.is-info {
    color : white !important;
    background-color: #4C86A8 !important;
    border: transparent !important;
}

.is-success {
    color : #033F63 !important;
    background-color: #7DDE92 !important;
    border: transparent !important;
}

.is-warning {
    color : #383838 !important;
    background-color: #ffc914 !important;
    border: transparent !important;
}

.is-danger {
    color : #ffffff !important;
    background-color: #ff0000 !important;
    border: transparent !important;
}

.is-primary:hover{
    color : #ffffff !important;
    background-color: #cc2653 !important;
    border: transparent !important;
}

.is-secondary:hover{
    color : #010d14 !important;
    background-color: #a796b6 !important;
    border: transparent !important;
}

.is-info:hover{
    color : #ffffff !important;
    background-color: #3d6b86 !important;
    border: transparent !important;
}

.is-success:hover{
    color : #010d14 !important;
    background-color: #64b275 !important;
    border: transparent !important;
}

.is-warning:hover{
    color : #0b0b0b !important;
    background-color: #ffd443 !important;
    border: transparent !important;
}

.is-danger:hover{
    color : #ffffff !important;
    background-color: #ff0000 !important;
    border: transparent !important;
}

.is-largest-btn {
    min-width: 15rem !important;
}

.is-normalest-btn {
    min-width: 10rem !important;
}


.quantity-button {
    background-color:#ffffff !important;
    border-color: #cc2653;
    border-width: 0.1rem;
    border-radius: 10rem;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
}

/* Content BELOW overwrite default stripe button style */
.stripe-button-el {
    min-width: 15rem !important;
    background-image: none !important;
    background-color: #ff517f !important;
    border-radius: 2rem !important;
    height: 2.5rem;
    
}

.stripe-button-el span {
    font-family: 'Manrope', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    font-weight: normal !important;
    font-size: 1rem !important;
    background-image: none !important;
    background-color: #ff517f !important;
    box-shadow: none !important;
}

.stripe-button-el:hover {
    min-width: 15rem !important;
    background-image: none !important;
    background-color: #cc2653 !important;
    border-radius: 2rem !important;
    height: 2.5rem;
    
}

.stripe-button-el span:hover {
    font-family: 'Manrope', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    font-weight: normal !important;
    font-size: 1rem !important;
    background-image: none !important;
    background-color: #cc2653 !important;
    box-shadow: none !important;
}
/* Content ABOVE overwrite default stripe button style */

/* Content BELOW overwrite default stripe button style */
.file-add-button {
    display:none
}
/* Content ABOVE overwrite default stripe button style */

/* $$$$$$$$$$$$$$$$$$$$ Content ABOVE is buttons $$$$$$$$$$$$$$$$$$$$ */





/* $$$$$$$$$$$$$$$$$$$$ Content BELOW is text color $$$$$$$$$$$$$$$$$$$$ */

.is-text-primary {
    color: #ff3068;
}

.is-text-secondary {
    color: #D1BCE3;
}

.is-text-info {
    color: #4C86A8;
}

.is-text-success {
    color: #7DDE92;
}

.is-text-warning {
    color: #ffc914;
}

.is-text-danger {
    color: #ff0000;
}

.is-text-dark {
    color: #4a4a4a;
}

.is-text-darker {
    color: #0b0b0b;
}

.is-text-white {
    color: #ffffff;
}

/* $$$$$$$$$$$$$$$$$$$$ Content ABOVE is text color $$$$$$$$$$$$$$$$$$$$ */





/* $$$$$$$$$$$$$$$$$$$$ Content BELOW is for ordered and sub-ordered list $$$$$$$$$$$$$$$$$$$$ */

.ol-1 {
    counter-reset: item
}

.li-1 {
    display: block
}

.li-1:before {
    content: counters(item, ".") " ";
    counter-increment: item;
    font-weight: bold
}

/* $$$$$$$$$$$$$$$$$$$$ Content ABOVE is for ordered and sub-ordered list $$$$$$$$$$$$$$$$$$$$ */





/* $$$$$$$$$$$$$$$$$$$$ Content BELOW is for icon styling $$$$$$$$$$$$$$$$$$$$ */

.icon-primary-color {
  color: #ff3068;
}

.icon-color {
  color: #00C4A7;
}

.select select:not([multiple]) {
  width: 150rem !important;
}

.icon-small-size {
    max-height: 80px !important;
}

/* $$$$$$$$$$$$$$$$$$$$ Content ABOVE is for icon styling $$$$$$$$$$$$$$$$$$$$ */





/* $$$$$$$$$$$$$$$$$$$$ Content BELOW is for boxes $$$$$$$$$$$$$$$$$$$$ */

.box-cart-min-height {
    min-height: 15rem;
}

/* $$$$$$$$$$$$$$$$$$$$ Content ABOVE is for boxes $$$$$$$$$$$$$$$$$$$$ */


@media screen and (max-width: 1160px) {
    .home-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .home-wrap-reverse {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .col-sizing-home {
        width: 100%;
    }

}



/* $$$$$$$$$$$$$$$$$$$$ Content BELOW is only for mobile devices $$$$$$$$$$$$$$$$$$$$ */

@media screen and (max-width: 768px) {

    .jumbotron {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url(https://images.unsplash.com/photo-1547592180-85f173990554?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
        background-size: cover;
        max-height: 20rem;
      }
    
    .footer-column {
        align-items: center;
        text-align: center;
    }

    .footer-picture {
       
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }

    .team-column {
        align-items: center;
    }

    .team-column-right {
        align-items: center;
    }
    .team-list {
        margin-left: 1em ;
        margin-right: 1em ;
    }

    .order-infos {
        align-items: center;
    }

    .home-pictures-column-right {
        text-align: left;
    }

    .image-fit {
        margin-top: 2rem;
    }

    .table-dashboard {
        width: 100%;
    }

    .home-subscription-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .text-center-reducted {
        width: 50%;
        margin: auto;
    }

  }

/* $$$$$$$$$$$$$$$$$$$$ End of mobile css $$$$$$$$$$$$$$$$$$$$ */





/* $$$$$$$$$$$$$$$$$$$$ Content BELOW is only for small mobile devices $$$$$$$$$$$$$$$$$$$$ */

    @media screen and (max-width: 500px) {
        .index-items {
            display: flex;
            flex-wrap: wrap-reverse;
        }
    
        .index-items>* {
            flex: 1 1 100%;
        }
    
        .index-items-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .menu-item-img {
            width: 8em;
            height: 8em;
            border-radius: 1em;
            object-fit: cover;
            margin-bottom: 1em;
        }

        .margin-top-section-mobile {
            margin-top: 5rem;
        }

    }

/* $$$$$$$$$$$$$$$$$$$$ End of small mobile css $$$$$$$$$$$$$$$$$$$$ */





/* $$$$$$$$$$$$$$$$$$$$ Content BELOW is about foodtruck index $$$$$$$$$$$$$$$$$$$$ */

.grid-list-display {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-gap: 80px;
}

.index-card {
	height: max-content;
}

.order-item-box-padding {
    padding: 1rem 1.5rem;
}

.banner-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
 
}

.checkout-infos {
    max-height: 15rem;
    min-width: 5rem;
   
}

.item-list>.box>.box-img>img{
    object-fit: cover;
    height: 10rem;
    width: 10rem;
    border-radius: 5px;
}

.cart-item>.box-body>.box-img>img{
    object-fit: cover;
    height: 5rem;
    width: 5rem;
    border-radius: 5px;
}


.profile-my-orders>a>.box>.box-img>img{
    object-fit: cover;
    height: 6rem;
    width: 8rem;
    border-radius: 5px;
}

.my-order-item>.box-body>.box-img>img{
    object-fit: cover;
    height: 8rem;
    width: 8rem;
    border-radius: 5px;
}

.user-avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.user-infos {
    margin-bottom: 100px;
}

.team-list {
    padding: 15px 25px;
    box-shadow: 0 0.5em 1em -0.125em rgba(255, 48, 104, 0.4);

}

.team-column-right{
    text-align: right;
}

.team-list-image {
    display: flex;
    justify-content: center;
}

.home-pictures-container {
    object-fit: cover;
    max-width: 25rem;
    max-height: 25rem;
    border-radius: 1rem;
}

.home-pictures-column-right{
    text-align: right;
}

.homepage-list{
    padding: 15px 25px;
    box-shadow:none;
}

.image-container-fit {
    width: 100%;
    height: 100%;
}

.image-fit {
    object-fit: cover;
}

.foodtruck-cover {
    height: 10em;
}

.footruck-picture {
    object-fit: cover;
    max-height: 100%;
    width: 100%;
}

.dashboard-header-text {
    color: white;
    background-color: #ff3068;
    line-height: 2.5rem;
    font-size: 1.5rem;
}

.item-picture {
    object-fit: cover;
    border-radius: 0.5rem;
    max-height: 10rem;
    height: 100%;
}

.quantity-counter {
    width: 3.5rem;
}

/* Content BELOW is for footer */

body > footer {
    margin-top: auto;
}



.menu-item-img {
    width: 8em;
    height: 8em;
    border-radius: 1em;
    object-fit: cover;
}

.box-dashboard {
    height: 10em;
}

.container-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height:10em;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .responsive-iframe-profile {
    position: absolute;
    top: 25%;
    left: 25%;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 20%;
  }

  .border-dashboard {
      border: 1px solid black;
      border-collapse: collapse;
  }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dashboard-header{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.pink-shadow {
    box-shadow: 0 0.5em 1em -0.125em rgba(255, 48, 104, 0.4);
}

.new-session-image {
    max-height: 500px;
    border-radius: 5px 0px 0px 5px;
}

.padding-header-foodtruck {
    padding: 0 2rem;
}

.padding-profil-section-foodtruck{
    padding: 1rem 2rem;
}

.no-borders{
    border:0;
}

.checkout-section-image {
    height: 25rem;
    width: 30rem; 
    object-fit: cover; 
    border-radius: 5px;
}

.item-other-image {
    min-height: 10rem; 
    min-width: 15rem; 
    object-fit: cover;
}

.dashboard-table{
    min-height: 15rem;
}

.likes-style {
    background-color: black; 
    border-radius: 50%; 
    width: 25px; 
    height: 25px;
}

#likes-count {
    color: white;
}

.dashboard-location-section{
    min-height: 20em;
}


.style-subscription-image{
    width: 20rem;
}

.foodtruck-index-header{
    background-image: url("https://images.pexels.com/photos/1308940/pexels-photo-1308940.jpeg?cs=srgb&dl=pexels-chris-molloy-1308940.jpg&fm=jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    
}

.foodtruck-index-header>.jumbotron-body{
    margin-top: 5rem;
}
.foodtruck-search-bar{
    width: 12rem;
}

/* Make the vote panel as big as its content */
.dashboard-vote-panel{
    height: 100%
}