<% if @customer.first_name != nil %>
  <p>Bonjour <%= @customer.first_name %> !</p>
<% else %>
  <p>Cher client,</p>
<% end %>
</br>
<p>Nous vons confirmons que votre mot de passe a été changé avec succès.</p>
</br>
<p>À bientôt, l'équipe FeedTruck.</p>

