<% if @customer != nil %>
  <p>Bonjour <%= @customer.first_name %> !</p>
<% else %>
  <p>Cher client,</p>
<% end %>

<p>Vous avez récemment demandé à réinitialiser le mot de passe de votre compte FeedTruck. Cliquez sur le lien ci-dessous pour procéder.</p>
</br>
<p><%= link_to 'Je change mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>
</br>
<p>Si vous ne désirez plus changer votre mot de passe, veuillez simplement ignorer cet email. Au contraire, si cette demande ne provient pas de vous, veuillez immédiatement sécuriser votre compte et nous le faire savoir en nous contactant à l’adresse suivante : login@feedtruck.com.</p>
</br>
<p>Merci, l'équipe FeedTruck.</p>

