<footer class="footer">
  <div class="content columns">
    <div class="column is-3 is-flex is-align-items-center is-justify-content-center">
      <a href="#">
        <%= image_tag("logo.png", style:"max-height: 150px")%>
      </a>
    </div>
    <div class="column is-3 is-flex is-align-items-center is-justify-content-center">
      <ul class="footer_ul">
        <li><p class="h4">Plan du site</p></li>
        <li><a href="#" class="web-color">Some text</a></li>
        <li><a href="#" class="web-color">Some text</a></li>
        <li><a href="#" class="web-color">Some text</a></li>
      </ul>
    </div>
    <div class="column is-3 is-flex is-align-items-center is-justify-content-center">
      <ul class="">
        <li><p class="">Ressources</p></li>
        <li><a href="#" class="web-color">Some text</a></li>
        <li><a href="#" class="web-color">Some text</a></li>
        <li><a href="#" class="web-color">Some text</a></li>
      </ul>
    </div>
    <div class="column is-3 is-flex is-flex-direction-column is-justify-content-center">
      <p class="has-text-centered mb-4">Nos réseaux sociaux</p>
      <ul class="is-flex is-flex-direction-row is-justify-content-space-around mt-4">
        <li><a href="#"><i class="web-color fab fa-facebook-square fa-3x"></i></a></li>
        <li><a href="#"><i class="web-color fab fa-instagram fa-3x"></i></a></li>
        <li><a href="#"><i class="web-color fab fa-twitter-square fa-3x"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
